@charset "UTF-8";
@font-face {
    font-family: "idroid";
    src: url("../fonts/idroid.otf") format("opentype") ;
}
@font-face {
    font-family: "Bebas";
    src: url(/fonts/BebasNeue-Regular.ttf) format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-header: "Bebas", cursive;
    --font-body: Arial, Verdana, Helvetica, sans-serif;
    --font-title: "idroid", sans-serif;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-body);
}
#header {
    background: radial-gradient(circle, var(--cor2) 58%, var(--cor4) 100%);
    width: 100%;
    padding: 15px 10px 10px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.438);
    padding-bottom: 8px;
}
header{
    color: white;
    text-align: center;
}
header > h1 {
    font-family: var(--font-header);
    text-transform: uppercase;
    font-size: 2.7em;
    font-weight: 100;
    margin-bottom: 20px;
    text-shadow: 3px 3px #000000a6;
}

header > p {
    text-align: center;
    max-width: 400px;
    margin: 0px auto 20px auto;
    font-size: 14px;
    text-shadow: 3px 3px 5px #000000a6;
}
nav {
    width: 100%;
    padding-left: 15px;
    font-size: 1.5em;
}
/* nav a {
    text-decoration: none;
    color: #fff;
    font-size: small;
    margin-right: 10px;
    font-weight: bold;
} */
nav a.nav {
    text-decoration: none;
    color: #fff;
    font-size: small;
    margin-right: 10px;
    font-weight: bold;
    padding: 10px;
}

nav a.nav:hover {
    background-color: var(--cor1) ;
    color: var(--cor4);
    border-radius: 5px;
    transition-duration: 0.5s;
}
/* nav a:link, a:active {
    text-decoration: none;
    color: #fff;
    font-size: small;
    margin-right: 10px;
    font-weight: bold;
}
nav a:visited {
    text-decoration: none;
    color: #fff;
    font-size: small;
    margin-right: 10px;
    font-weight: bold;
} */
main {
    background-color: white;
    max-width: 900px;
    min-width: 65%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.712);
    border-radius: 0 0 5px 5px;
}
article > h1 {
    font-family: "idroid", sans-serif;
    color: var(--cor5);
}
article > h2 {
    background-image: linear-gradient(to right, var(--cor0), transparent);
    color: var(--cor4);
    font-family: "idroid", sans-serif;
    padding-left: 10px;
    font-size: 1.3em;
}
article > p {
    font-weight: 500;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6em;
    font-size: 14px;
    margin: 20px 0;
}
article strong {
    color: var(--cor4);
    font-weight: bold;
}
article i {
    color: #555;
    margin-left: -25px;
}
a.externo::after{
    content: '\00A0\1F517';
}
article a:link, a:visited, a:active {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
}
article a:hover{
    text-decoration: underline;
}
picture img {
    width: 100%;
    display:block;
}

.bugdroid {
    max-width: 350px;
    display:block;
    margin: 0px auto
}
#iframes {
    background-color: var(--cor5);
    /* margin: 15px -20px; */
    padding: 20px;
}
aside {
    background-color: var(--cor0);
    border-radius: 10px;
    width: 100%;
    padding-bottom: 10px;
    box-shadow: 3px 3px 8px #000000a6;

}
aside > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #2FA866;
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 10px;
}
aside > p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    padding: 0px 10px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.6em;
    margin: 10px 0px;
}
aside ul {
    list-style-position: inside;
    columns: 2;
    margin-left: 25px;
    font-size: small;

}
aside li {
    list-style-type:'\2714\00A0\00A0';
}
aside td {
    width: 600px;
}

footer {
    background-color: var(--cor5);
    height: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    color: #ffffffc2;
    font-size: 10px;
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: none;
}
footer a:visited {
    color: #fff;
}
/* main {
    background-color: white;
    width: 65%;
    margin: 0px auto 10px auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.712);
    border-radius: 0 0 5px 5px;
}
main > h1 {
    font-family: "idroid", sans-serif;
    color: #115530;
    margin-bottom: 20px;
}
main > h2 {
    background-image: linear-gradient(to right, #C3E9D4, #FFFFFF);
    color: #125332;
    font-family: "idroid", sans-serif;
    margin: 20px 0px;
    padding-left: 10px;
}
main > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6em;
    font-size: 14px;
}
main strong {
    color: #125332;
}
main i {
    color: #555;
    margin-left: -25px;
}
main a:link, a:visited, a:active {
    color: #125332;
    text-decoration: none;
    font-weight: bold;
    background-color: #5caf7d77;
}
Main a:hover{
    text-decoration: underline;
}
picture img {
    width: 100%;
    display:block;
    margin: 10px auto;
}

#bugdroid {
    width: 300px;
    display:block;
    margin: 0px auto
}
#iframes {
    background-color: #115530;
    margin: 15px -20px;
    padding: 20px;
}
article {
    background-color: #C5EBD6;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 10px;

}
article > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #2FA866;
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 10px;
}
article > p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    padding: 0px 10px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.6em;
    margin: 10px 0px;
}
article td {
    width: 600px;
}

article li {
    list-style-type: disc;
    font-size: small;
    margin-left: 25px;
}
footer {
    background-color: #1A5C38;
    height: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    color: rgba(255, 255, 255, 0.76);
    font-size: 10px;
    text-align: center;
}
footer strong {
    color: #FFFFFF;
} */