@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: white;
}

header {
    /* width: 100%; */
    background-color: black;
    text-align: center;
}

header div {
    /* width: 100%; */
}

header h1 {
    color: white;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-bottom: 50px;
}

a, a:active, a:hover {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

main p {
    font-family: 'Sriracha', cursive;
    font-size: 4vw;
}

.estrofe {
    padding:100px 50px;
}

.estrofe-img {
    padding:100px 50px;
    color: white;
}

.imagem01 {
    background-image: url(img/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    /* width: 100%; */
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.623);
}
.imagem02 {
    background-image: url(img/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    /* width: 100%; */
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.623);
}
.box-imagem {
    width: 65%;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 2%;
}
.divisao {
    margin-bottom: 25px;
}
footer {
    background-color: black;
    padding: 20px 20px;
}
footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2em;
}