@charset "UTF-8";
/* 
O que em HTML é "id", em css é "#"
O que em HTML é class, em css é "."
*/
body {
    background-color: #8029d683;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #6921B0;
}

/* seletor personalizado */
h1#principal {
    text-align: center;
    background-color: #7F29D6;
    color: white;
}

h2 {
    color: #6921B0;
}
.basico {
    background-color: #3ecf05;
    color: white;
    font-weight: bold;
}
.intermediario {
    background-color: #d2e00d;
    color: white;
}
.avancado {
    background-color: #da0b0b;
    color: white;
}
.destaque {
    background-color: #889114;
}